<p>password-change works!</p>
<div class="header_container">

  <div class="auth_cont">
    <form #loginForm="ngForm" class="login_form">
        <div class="inputs_cont">
      <input
        type="password"
        name="oldPassword"
        [(ngModel)]="currentPassword"
        placeholder="Current Password"
        required
        class="login_input"
      />
      <input
        type="password"
        name="newPassword"
        [(ngModel)]="password"
        placeholder="New Password"
        required
        class="login_input"
      />
        <input
        type="password"
        name="password2"
        [(ngModel)]="password2"
        placeholder="Repeat Password"
        required
        class="login_input"
      />
        </div>
        <div *ngIf="errorMessage" style="color: red; text-align: center;">{{errorMessage}}</div>
        <div *ngIf="successMessage" style="color: green; text-align: center;">{{successMessage}}</div>
        <div class="actions">
        <div></div>
      <button (click)="onReset()" type="submit" class="auth_buttons main_button login_bt">
        {{ 'reset' | translate }}
      </button>
        </div>
    </form>
  </div>
</div>
