
<div class="my-sent-invitations" *ngIf="invitations.length > 0">
    <h5>Recieved invitations</h5>
    <div class="my-sent-invitations_list">
        <div class="my-sent-invitations_item" [ngClass]="{
       'bkRed': invitation.approved == -1,
       'bkGreen': invitation.approved == 1,
       'bkBlue': invitation.canceled,
       'bkNeutral': invitation.approved == 0 && !invitation.canceled,
     }" *ngFor="let invitation of invitations">
            <div class="my-sent-invitations_email">{{invitation.inviter.name + ' ' + invitation.inviter.surname}}</div>
            <div class="my-sent-invitations_date" *ngIf="invitation.isSingleUse">
                {{ invitation.date | date:'mediumDate' }}
            </div>
            <div class="my-sent-invitations_date" *ngIf="!invitation.isSingleUse">
                {{ invitation.weekday }}
            </div>
            <div class="my-sent-invitations_time">{{invitation.start + ' - ' + invitation.end}}</div>
            <div class="my-sent-invitations_actions">
                <div class="main_button_small" (click)="acceptInvitation(invitation._id)">Accept</div>
                <div class="main_button_small" (click)="declineInvitation(invitation._id)">decline</div>
            </div>
        </div>
    </div>
</div>