.my-sent-invitations_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: fit-content;
    margin: auto;
    padding: 7px 18px;
    border-radius: 20px;
    cursor: pointer;
}

.my-sent-invitations_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.my-sent-invitations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bkGreen {
    background-color: rgb(171, 223, 171);
}

.bkRed {
    background-color: rgb(237, 154, 154);
}

.bkBlue {
    background-color: rgb(132, 222, 247);
}

.bkNeutral {
    background-color: wheat;
}