<div class="header_container">

    <div class="auth_cont">
        <form #loginForm="ngForm" class="login_form">
            <div class="inputs_cont">

                <div *ngIf="step1" class="firstStep steps">
                    <input type="email" name="email" [(ngModel)]="email" placeholder="Email" required
                        class="login_input" />
                    <button [disabled]="step2" (click)="sendVerificationCodeEmail()" class="main_button">Send Verification Code</button>
                </div>
                <div *ngIf="step2" class="secondStep steps">
                    <div style="display: flex; flex-direction: row; gap: 10px; align-items: center;">
                    <input type="text" name="Code" [(ngModel)]="code" placeholder="Code" required
                        class="login_input" />
                        <div class="countdown" style="white-space: nowrap;">Valid for {{countDownSeconds}} seconds.</div>
                    </div>
                    <button (click)="confirmCode()" class="main_button" style="width: 100%;">confirm</button>
                </div>
                <input *ngIf="step3" type="password" name="password" [(ngModel)]="password" placeholder="Password" required
                    class="login_input" />
                <input *ngIf="step3" type="password" name="password2" [(ngModel)]="password2" placeholder="Repeat Password" required
                    class="login_input" />
            </div>
            <div *ngIf="errorMessage" style="color: red; text-align: center;">{{errorMessage}}</div>
            <div *ngIf="successMessage" style="color: green; text-align: center;">{{successMessage}}</div>
            <div class="actions" style="width: 100%;">
                <button *ngIf="step3" (click)="signUp()" class="auth_buttons main_button login_bt">
                    {{ 'signUp' | translate }}
                </button>
            </div>
        </form>
    </div>

</div>