<div class="side_nav_content main_border">
    <div class="navigation">
        <ng-container *ngIf="user">
            <div *ngFor="let item of navItems" class="menu_buttons main_bottom_border" mat-menu-item
                [routerLink]="item.route" routerLinkActive="activeNavigation"
                [routerLinkActiveOptions]="{ exact: true }" (click)="item.action?.()">
                <div routerLinkActive="activeSquare" [routerLinkActiveOptions]="{ exact: true }"></div>
                <div class="navigation-item">
                    <mat-icon>{{ item.icon }}</mat-icon>
                    <span>{{ item.label | translate }}</span>
                </div>
            </div>
        </ng-container>
    </div>

    <div class="recieved_contact_requests" *ngIf="user">
        <app-sent-contact-requests></app-sent-contact-requests>
    </div>

    <div class="sent_contact_requests" *ngIf="user">
        <app-recieved-contact-requests></app-recieved-contact-requests>
    </div>

    <div class="my_contacts" *ngIf="user">
        <app-my-contacts-list></app-my-contacts-list>
    </div>

    <div class="my_Teams" *ngIf="user">
        <app-my-teams-side-nav></app-my-teams-side-nav>
    </div>
</div>