.side_nav_content {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;  
    width: 300px;
    background-color: var(--secondary);
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
    padding-top: 50px;
    border-right: 1px solid var(--primary);
    z-index: 1;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.menu_buttons {
    width: 100%;
    background-color: var(--light-blue-5);
    padding: 5px 10px;
    text-align: center;
    opacity: 0.8;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .side_nav_content {
        width: 200px;
        position: fixed;
    }
}