<div class="side_nav_content">
    <div class="navigation">

            <div *ngIf="user" class="menu_buttons" mat-menu-item routerLink="/invitations">
                {{ 'invitations' | translate }}
            </div>

            <div *ngIf="user" class="menu_buttons"  mat-menu-item routerLink="/account">
                {{ 'Account' | translate }}
            </div>

            <div *ngIf="user" class="menu_buttons" mat-menu-item (click)="logOut()">
                {{ 'Log out' | translate }}
            </div>

    </div>

    <div class="recieved_contact_requests">
        <app-sent-contact-requests></app-sent-contact-requests>
    </div>

    <div class="sent_contact_requests">
        <app-recieved-contact-requests></app-recieved-contact-requests>
    </div>
    
    <div class="my_contacts">
        <app-my-contacts-list></app-my-contacts-list>
    </div>
</div>