<div class="header_container main_border">

    <mat-icon class="mat_icon side_menu_toggle_button" (click)="openCloseSideNav()">menu</mat-icon>

    <div class="users_search_cont">
        <form #loginForm="ngForm" class="users_search_form">
            <div class="inputs_cont">
                <input type="text" name="usersSearch" (keyup)="onUsersSearchChange($event)" [(ngModel)]="usersSearch"
                    [placeholder]="'Users' | translate" required class="users_search_input" />
                <mat-icon (click)="clearUsersSearch()" *ngIf="usersSearch.length != 0" class="mat_icon">close</mat-icon>
            </div>
        </form>
        <div class="users_list" *ngIf="users && users.length > 0">
            <div *ngFor="let user of users" class="users_list_item">
                <div>{{user.email}}</div>
                <mat-icon (click)="createContactRequest(user)" *ngIf="!user.isContact" class="mat_icon">add</mat-icon>
            </div>
        </div>
    </div>

    <div class="lang_select_cont">
        <select (change)="changeLang($event)" class="main_select">
            <option value="en">En</option>
            <option value="ka">Ge</option>
        </select>
        <mat-icon (click)="toggleRightNav()">record_voice_over</mat-icon>
    </div>

    <div *ngIf="!user" class="auth_cont">
        <button routerLink="/login" class="auth_buttons main_button">{{'login' | translate}}</button>
        <button routerLink="/signup" class="auth_buttons main_button">{{'signUp' | translate}}</button>
    </div>
</div>