<div class="calendar_container">
  <div class="calendar_day-item" *ngFor="let day of calendarDays">
    <div class="calendar_day-item-header">{{ day.weekday }} {{ day.date }} {{ day.month }}</div>
    <div class="calendar_day-item-timeLine">
      <div *ngFor="let slot of day.timeline" 
           [ngClass]="{'event-slot': slot.event, 'empty-slot': !slot.event}">
        <span>{{ slot.time }} <ng-container *ngIf="slot.event">- {{ slot.event.title }}</ng-container></span>
      </div>
    </div>
  </div>
</div>
