<div class="selectedSchedule" *ngIf="selectedSchedule">
  <div class="selectedScheduleItem" *ngFor="let item of selectedSchedule; let i = index">
    <div class="selectedScheduleDate">{{ item.date | date: 'dd MMM yyyy' }}</div>
    <div class="selectedScheduleItemPart2">
      <div class="selectedScheduleDay">{{ item.day }}</div>
      <div class="selectedScheduleTime">{{ (item.start ?? '?') + ' - ' + (item.end ?? '?') }}</div>
    </div>
    <label class="selectedScheduleEveryDayCheck">
      <input type="checkbox" [checked]="item.isChecked" (change)="onCheckboxChange($event, i)"
        class="selectedScheduleEveryDayCheckBox" />
      <span>
        <span>{{ 'Every ' | translate }}</span>
        <span>{{ item.day }}</span>
      </span>
    </label>

    <input type="text" name="title" [value]="item.title || ''" (input)="onTitleChange($event, i)"
      [placeholder]="'addTitle' | translate" required class="invitation_title_add" />

    <label *ngIf="!invitationForMe" class="urgent_checkbox_label">
      <input type="checkbox" [checked]="item.urgent === 1" (change)="onUrgentChange($event, i)"
        class="isUrgentChecbox" />
      <span>{{ 'Urgent' | translate }}</span>
    </label>

    <select #locationSelect (change)="onLocationChange($event, i, locationSelect)"
      [value]="selectedSchedule[i].location || ''" class="invitation_location_select">

      <option value="" disabled>{{ 'Select location' | translate }}</option>

      @if (selectedSchedule[i].location &&
      selectedSchedule[i].location !== 'Pool A' &&
      selectedSchedule[i].location !== 'Pool B' &&
      selectedSchedule[i].location !== 'Gym' &&
      selectedSchedule[i].location !== 'Online') {
      <option [value]="selectedSchedule[i].location">
        📍 {{ 'Location Selected' | translate }}
      </option>
      }

      <option value="map">{{ 'Select on map' | translate }}</option>
      <option value="Pool A">Pool A</option>
      <option value="Pool B">Pool B</option>
    </select>
    <app-error-box *ngIf="errorText != ''" [error]="errorText"></app-error-box>
  </div>
</div>

<div class="main_button" *ngIf="selectedSchedule.length !== 0 && !invitationForMe" (click)="submit()">Send Request</div>
<div class="main_button" *ngIf="selectedSchedule.length !== 0 && invitationForMe" (click)="saveSchedule()">save schedule
</div>