


.selectedScheduleItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    border-bottom: 1px solid green;
    padding: 10px 0px;
}

.selectedScheduleItemPart2 {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.selectedScheduleDay {
    background-color: #d0ead0;
    padding: 2px 10px;
    border-radius: 20px;
}

.selectedSchedule {
    padding: 5px 10px;
}

.selectedScheduleEveryDayCheck, .urgent_checkbox_label {
    display: flex;
    justify-content: row;
    align-items: center;
    gap: 5px;
}
