.my_teams {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my_teams_item {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hLine {
  width: 100%;
  height: 20px;
}

.teams-container {
    width: 100%;
}