<div class="header_container page_content">

  <div class="auth_cont">
    <form #loginForm="ngForm" class="login_form">
      <div class="inputs_cont">
        <input type="email" name="email" [(ngModel)]="email" placeholder="Email" required class="login_input" />
        <input type="password" name="password" [(ngModel)]="password" placeholder="Password" required
          class="login_input" />
      </div>
      <div *ngIf="errorMessage" style="color: red; text-align: center;">{{errorMessage}}</div>
      <div class="actions">
        <button routerLink="/forgot-pass" type="text" class="auth_buttons main_button">
          {{ 'forgot' | translate }}
        </button>
        <button (click)="onLogin()" type="submit" class="auth_buttons main_button login_bt">
          {{ 'login' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>