.right_side_nav_content {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    height: 100vh;
    z-index: 1000;
    right: 0px;
    top: 0px;
    z-index: 1;
    overflow: scroll;
    top: 50px;
    border-top: none !important;
}

.right_side_nav_content_header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}