.right_side_nav_content {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    background-color: var(--secondary);
    height: 100vh;
    z-index: 1000;
    right: 0px;
    top: 0px;
    z-index: 1;
    padding-top: 50px;
    border-left: 1px solid var(--primary);
}

.right_side_nav_content_header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}