/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #FFFCF9;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.main_button {
    background-color: var(--primary);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 10px;
    color: #fff;
    box-shadow: var(--buttons-main) 0px 2px 5px 0px, var(--buttons-main) 0px 1px 1px 0px;
    // box-shadow: var(--buttons-main) 0px 0px 0px 1px, var(--buttons-main) 0px 0px 0px 1px inset;
    // box-shadow: var(--buttons-main) 0px 1px 2px 0px, var(--buttons-main) 0px 2px 6px 2px;
}

:root {
    --card: #bde5f1;
    --danger: #de4f41;
    --primary: #1595ba;
    --secondary: #edf6f9;
    --accent:#ffb703;
    --neutral: #f7f7f7;
    --text:#1d3557;
}

.main_select {
    background-color: var(--primary);
    padding: 10px 20px;
    border-radius: 30px;
    margin: 5px;
    border: 1px solid #fff;
    color: #fff;
}

input {
  padding: 6px 15px;
}

@media only screen and (max-width: 767px) {
    .main_button {
        background-color: var(--primary);
        border: none;
        padding: 6px 12px;
        border-radius: 30px;
        margin: 5px;
        color: #fff;
    }

    .main_select {
    background-color: var(--primary);
    padding: 6px 12px;
    border-radius: 30px;
    margin: 5px;
    border: 1px solid #fff;
    color: #fff;
}
}
