/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #FFFCF9;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main_button {
  background-color: var(--primary);
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  margin: 10px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  box-shadow: var(--buttons-main) 0px 2px 5px 0px, var(--buttons-main) 0px 1px 1px 0px;
  // box-shadow: var(--buttons-main) 0px 0px 0px 1px, var(--buttons-main) 0px 0px 0px 1px inset;
  // box-shadow: var(--buttons-main) 0px 1px 2px 0px, var(--buttons-main) 0px 2px 6px 2px;
}

.rejectButton {
  background-color: #de4f41;
}

mat-icon {
  cursor: pointer !important;
}

:root {
  --card: #bde5f1;
  --danger: #de4f41;
  --primary: #1595ba;
  --secondary: #edf6f9;
  --accent: #ffb703;
  --neutral: #f7f7f7;
  --text: #1d3557;

  --light-blue-1: #00d2ff;
  --light-blue-2: #2edaff;
  --light-blue-3: #50e0ff;
  --light-blue-4: #73e7ff;
  --light-blue-5: #9cedff;
  --light-blue-6: #caf0f9;
}

.main_select {
  background-color: var(--primary);
  padding: 10px 20px;
  border-radius: 30px;
  margin: 5px;
  border: 1px solid #fff;
  color: #fff;
}

input {
  padding: 6px 15px;
}

.mat_icon:hover {
  color: red;
}

.page_content {
  display: flex;
  justify-content: center;
}

app-my-invitations,
app-account-info,
app-reset-password,
app-login,
app-register,
app-forget-pass,
app-schedule,
app-create-invitation,
app-edit-invitation,
app-change-password {
  width: 100%;
}

.snackbar-success {
  background-color: #4caf50 !important;
  color: #fff !important;
  font-weight: 500;
  border-radius: 8px !important;
}

.snackbar-error {
  background-color: #f44336 !important;
  color: #fff !important;
  font-weight: 500;
  border-radius: 8px !important;
}


@media only screen and (max-width: 767px) {
  .main_button {
    background-color: var(--primary);
    border: none;
    padding: 6px 12px;
    border-radius: 30px;
    margin: 5px;
    color: #fff;
  }

  .main_select {
    background-color: var(--primary);
    padding: 6px 12px;
    border-radius: 30px;
    margin: 5px;
    border: 1px solid #fff;
    color: #fff;
  }
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #d0ead0;
}

select {
  padding: 7px 10px;
}