    .contact {
        padding: 5px 10px;
        border: 1px solid #ddd;
        border-radius: 6px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f9f9f9;
        margin-bottom: 5px;
    }

    .add-members {
        padding: 20px;
    }